{% extends 'maincms_base.html' %}
{% block content %}
{% include "maincms/navbar.html" %}
<meta name="csrf-token" content="{{ csrf_token }}">
<!-- 앨범 정보 상자 -->
<div class="container-lg my-4 py-3">
    <h5 class="fw-bold">앨범 정보</h5>
    <div class="info-field mb-5" id="album_info">
        <div class="info-field-column" style="width: 320px;">
            <div id="cover-box">
                <p>앨범 커버 업로드</p>
            </div>
        </div>
        <div class="info-field-column left-auto">
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check check"></i>앨범명(국문)</div><input class="form-in" type="text" name="album_title">
                <div class="label-field"><i class="bi bi-check"></i>앨범명(영문)</div><input class="form-in" type="text" name="album_title_en">
            </div>
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check check"></i>아티스트</div><input class="form-in" type="text" data-modal="modal1" id="album_artist" name="album_artist">
                <div class="label-field"><i class="bi bi-check check"></i>앨범장르</div>
                <select class="form-select-sm" id="album_genre" name="album_genre" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="POP">POP</option>
                    <option value="Dance">Dance</option>
                    <option value="Hiphop">Hiphop</option>
                    <option value="Newage">Newage</option>
                    <option value="Indie pop">Indie pop</option>
                    <option value="Indie">Indie</option>
                    <option value="Indie Rock">Indie Rock</option>
                    <option value="Indie Folk">Indie Folk</option>
                    <option value="Folk">Folk</option>
                    <option value="World">World</option>
                    <option value="OST">OST</option>
                    <option value="Trot">Trot</option>
                    <option value="Instrumental">Instrumental</option>
                </select>
            </div>
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check check"></i>앨범유형</div>
                <select class="form-select-sm" name="album_Categ" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="싱글">싱글</td>
                    <option value="EP">EP</td>
                    <option value="정규">정규</td>
                    <option value="OST">OST</td>
                </select>
                <div class="label-field"><i class="bi bi-check check"></i>발매국가</div>
                <select class="form-select-sm" name="album_country" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="Korea">한국</option>
                    <option value="USA">미국</option>
                    <option value="Jepan">일본</option>
                </select>
            </div>
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check"></i>UPC</div><input class="form-in" type="text" name="UPC">
                <div class="label-field"><i class="bi bi-check"></i>UCI</div><input class="form-in" type="text" name="UCI">
            </div>
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check check"></i>기획사</div><input class="form-in" type="text" name="album_copyright">
                <div class="label-field"><i class="bi bi-check check"></i>유통사</div><input class="form-in" type="text" name="album_publish">
            </div>
            <div class="info-field">
                <div class="label-field"><i class="bi bi-check check"></i>발매일</div><input class="form-in datepicker" type="text" name="startdate" style="width: 203px;">
                <div class="label-field"><i class="bi bi-check check"></i>오픈일</div><input class="form-in datepicker" id="opendate" type="text" name="opendate" style="width: 203px;">
            </div>
        </div>
    </div>
    <h5 class="fw-bold">권리자 정보</h5>
    <div class="info-field mb-5" id="user_info">
        <div class="label-field"><i class="bi bi-check check"></i>권리자 찾기</div><input class="form-in" type="text" data-modal="modal3" id="right_holder"  name="rightholder_code">
        <div class="label-field"><i class="bi bi-check check"></i>정산 수수료율</div><input class="form-in" type="text" name="allocation_rate">
    </div>
    <h5 class="fw-bold">서비스 정보 및 옵션</h5>
    <div class="info-field mb-5" id="service_option">
        <div class="info-field-column">
            <div class="info-field">               
                <div class="label-field"><i class="bi bi-check check"></i>서비스 영역</div>
                <select class="form-select-sm" name="service_area" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="WW">전세계</option>
                    <option value="국내">국내</option>
                    <option value="해외">해외</option>
                </select>
            </div>
            <div class="info-field"><div class="label-field"><i class="bi bi-check"></i>제외 국가</div><input class="form-in" type="text" name="excluded"></div>
            <div class="info-field">               
                <div class="label-field"><i class="bi bi-check check"></i>Youtube 서비스</div>
                <select class="form-select-sm" name="YT_service" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="AT+CID">AT+CID</option>
                    <option value="AT_Only">AT_Only</option>
                </select>
            </div>
        </div>
        <div class="info-field-column">
            <div class="info-field">               
                <div class="label-field"><i class="bi bi-check check"></i>서비스 언어</div>
                <select class="form-select-sm" name="service_lang" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="한국어">한국어</option>
                    <option value="영어">영어</option>
                    <option value="일본어">일본어</option>
                </select>
            </div>
            <div class="info-field">               
                <div class="label-field"><i class="bi bi-check check"></i>서비스 시간</div>
                <select class="form-select-sm" name="service_time" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="12:00">12:00</option>
                    <option value="18:00">18:00</option>
                </select>
            </div>
            <div class="info-field">               
                <div class="label-field"><i class="bi bi-check"></i>프로모션 유무</div>
                <select class="form-select-sm" name="promotion" style="width: 203px;">
                    <option selected>선택하세요</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select>
            </div>
        </div>
        <div class="info-field-column">
            <a class="btn btn-outline-primary btn-sm my-1" id="setdateButton" role="button" style="width: 150px;">발매일 동기화</a>
            <a class="btn btn-outline-primary btn-sm my-1" id="setgenreButton" role="button" style="width: 150px;">장르 동기화</a>
            <a class="btn btn-outline-primary btn-sm my-1" id="setArtistButton" role="button" style="width: 150px;">곡 아티스트 동기화</a>
        </div>
        <div class="info-field-column">
            <a class="btn btn-outline-primary btn-sm my-1" href="#" style="width: 150px;">UPC 발급</a>
            <a class="btn btn-outline-primary btn-sm my-1" href="#" style="width: 150px;">기획사 동기화</a>
            <a class="btn btn-outline-primary btn-sm my-1" href="#" style="width: 150px;">UCI 발급</a>
        </div>
    </div>
    <h5 class="fw-bold">디스크 / 트랙 정보</h5>
    <div class="info-field-start mb-5" id="service_option">
        <div class="label-field"><i class="bi bi-check check"></i>디스크 번호</div><input class="form-ck" type="text" id="disc_total_num" style="width: 31px;" value="1">
        <div class="label-field"><i class="bi bi-check check"></i>트랙 수</div><input class="form-ck" type="text" id="track_total_num" style="width: 31px;" value="1">
        <a class="btn btn-primary btn-sm my-1" role="button" id="generate" style="margin-left: 30px;">디스크 만들기</a>
    </div>
    <table class="table" id="result-table">
        <thead class="table-light">
            <tr>
            <th scope="col-1" class="text-center" style="width:50px;">DISK</th>
            <th scope="col-1" class="text-center" style="width:50px;">NO.</th>
            <th scope="col" class="text-center">Song title</th>
            <th scope="col" class="text-center"style="width:400px;">Artist</th>
            <th scope="col" class="text-center" style="width:100px;">상세보기</th>
            </tr>
        </thead>
        <!-- 반복 규정된 테이블 
        <tbody id="1_1">
            <tr>
                <th class='text-center' ><input class="form-ck" type="number" id="disk_no_1" name="disk_no[]" style="width: 31px;"></div></th>
                <th class='text-center' ><input class="form-ck" type="number" id="track_no_1" name="track_no[]" style="width: 31px;"></div></th>
                <th class='text-center' id="song_title_view_1_1"></th>
                <th class='text-center' id="artist_view_1_1"></th>
                <th class='text-center'><i class="bi bi-chevron-up icon" data-target="detail_1_1"></i></td>
            </tr>
            <tr id="detail_1_1">
                <th colspan='3'>
                    <div class="info-field">
                        <div class="info-field-column">
                            <div class="info-field">
                                <div class="label-field"><i class="bi bi-check check"></i>곡 제목</div><input class="form-tr song-title" type="text" name="song_title[]"  data-target="song_title_view_1_1">
                                <div class="label-field"><i class="bi bi-check check"></i>곡 아티스트</div><input class="form-tr song-artist" type="text" name="song_artist[]" data-target="artist_view_1_1">
                            </div>
                            <div class="info-field">
                                <div class="label-field"><i class="bi bi-check check"></i>트랙 장르</div>                
                                <select class="form-select-sm track_genre" name="track_genre[]" style="width: 203px;">
                                    <option selected>선택하세요</option>
                                    {% for g in genre_list %}
                                    <option value="{{ g.genres }}">{{ g.genres }}</td>
                                    {% endfor %}
                                </select>
                                <div class="label-field"><i class="bi bi-check check"></i>서비스 언어</div>
                                <select class="form-select-sm" name="track_lang[]" style="width: 203px;">
                                    <option selected>선택하세요</option>
                                    <option value="한국어">한국어</option>
                                    <option value="영어">영어</option>
                                    <option value="일본어">일본어</option>
                                </select>
                            </div>
                            <div class="info-field">
                                <div class="label-field"><i class="bi bi-check check"></i>오픈일</div><input class="form-tr datepicker" type="text" name="tr_opendate[]">
                                <div class="label-field"><i class="bi bi-check check"></i>ISRC</div><input class="form-tr" type="text" name="isrc[]">
                            </div>
                            <div class="info-field jf-item">
                                <div class="label-field lab-sm"><i class="bi bi-check"></i>대표곡</div><input class="form-check-input" type="checkbox" value="" name="title_song[]">
                                <div class="label-field lab-sm"><i class="bi bi-check"></i>성인</div><input class="form-check-input" type="checkbox" value="" name="adult[]">
                            </div>
                            <div class="info-field">
                                <div class="label-field lab"><i class="bi bi-check check"></i>음원추가</div><input class="form-control form-control-sm song_file" id="song_file[]" type="file" style="width:250px;"><input class="form-tr track_length" type="text" name="track_length[]"style="width:80px;"><input class="form-control form-control-sm" id="lyric_file[]" type="file"style="width:230px;">
                            </div>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="info-field-column jf-item">
                        <div class="info-field"><div class="label-field"><i class="bi bi-check"></i>작사가</div><input class="form-control form-control-sm col" type="text" name="lyricist[]"></div>
                        <div class="info-field"><div class="label-field"><i class="bi bi-check check"></i>작곡가</div><input class="form-control form-control-sm col" type="text" name="composer[]"></div>
                        <div class="info-field"><div class="label-field"><i class="bi bi-check check"></i>편곡가</div><input class="form-control form-control-sm col" type="text" name="arranger[]"></div>
                        <div class="info-field"><div class="label-field"><i class="bi bi-check"></i>참여아티스트</div><input class="form-control form-control-sm col" type="text" name="with_artist[]"></div>
                        <div class="info-field"><div class="label-field"><i class="bi bi-check"></i>피쳐링아티스트</div><input class="form-control form-control-sm col" type="text" name="featured[]"></div>
                    </div>
                </th>
                <th class="text-center">
                    <div class="info-field-column">
                        <a class='btn btn-danger btn-sm delete-btn'>트랙 삭제</a>
                    </div>
                </th>
            </tr>
        </tbody> -->
    </table>
    <div class="info-field"><button class="btn btn-primary" type="submit" id="album_add">등록하기</button></div>
</div>

<!-- Modal 1 -->
<div id="modal1" class="modal">
    <div class="af-modal-content">
        <h5 class="fw-bold mb-2">아티스트 검색</h5>
        <div class="info-field-start">
            <input type="text" class="form-tr">
            <button class="btn btn-primary btn-sm search">검색</button>
        </div>
        <h5 class="fw-bold mb-2">아티스트 리스트</h5>
        <ul class="list-group artist-list" >
            <!-- 아티스트 목록 -->
        </ul>
        <div class="info-field-column my-2">
            <nav aria-label="Page navigation ">
                <ul class="pagination pagination-sm" id="pagination">
                    <!-- 페이지 버튼이 동적으로 추가될 예정 -->
                </ul>
            </nav>
        </div>
        <div class="info-field-column my-2">
            <button class="btn btn-outline-primary btn-sm close-btn">Close</button>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div id="modal2" class="modal">
    <div class="af-modal-content">
        <h5 class="fw-bold mb-2">아티스트 검색</h5>
        <div class="info-field-start">
            <input type="text" class="form-tr">
            <button class="btn btn-primary btn-sm search">검색</button>
        </div>
        <h5 class="fw-bold mb-2">아티스트 리스트</h5>
        <ul class="list-group artist-list">
            <!-- 아티스트 목록 -->
        </ul>
        <div class="info-field-column my-2">
            <nav aria-label="Page navigation ">
                <ul class="pagination pagination-sm" id="pagination">
                    <!-- 페이지 버튼이 동적으로 추가될 예정 -->
                </ul>
            </nav>
        </div>
        <div class="info-field-column my-2">
            <button class="btn btn-outline-primary btn-sm close-btn">Close</button>
        </div>
    </div>
</div>
<!-- Modal 3 -->
<div id="modal3" class="modal">
    <div class="af-modal-content">
        <h5 class="fw-bold mb-2">권리자 검색</h5>
        <div class="info-field-start">
            <input type="text" class="form-tr">
            <button class="btn btn-primary btn-sm search">검색</button>
        </div>
        <h5 class="fw-bold mb-2">권리자 리스트</h5>
        <ul class="list-group artist-list">
            <!-- 아티스트 목록 -->
        </ul>
        <div class="info-field-column my-2">
            <nav aria-label="Page navigation ">
                <ul class="pagination pagination-sm" id="pagination">
                    <!-- 페이지 버튼이 동적으로 추가될 예정 -->
                </ul>
            </nav>
        </div>
        <div class="info-field-column my-2">
            <button class="btn btn-outline-primary btn-sm close-btn">Close</button>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
    $("#setgenreButton").on("click", function (e) {
                e.preventDefault();
                const syncValue = $("#album_genre").val(); // 외부 입력된 값
                $(".track_genre").each(function () {
                    $(this).val(syncValue); // 입력 값 설정
                    const targetId = $(this).data("target");
                    $("#" + targetId).text(syncValue); // 상위 값 갱신
            });
    });
    $("#setdateButton").on("click", function (e) {
                e.preventDefault();
                const syncValue = $("#opendate").val(); // 외부 입력된 값
                $(".datepicker").each(function () {
                    $(this).val(syncValue); // 입력 값 설정
                    const targetId = $(this).data("target");
                    $("#" + targetId).text(syncValue); // 상위 값 갱신
            });
    });
                // 동기화 버튼 클릭 시 모든 song_artist[]에 값 적용
    $("#setArtistButton").on("click", function (e) {
                e.preventDefault();
                const syncValue = $("#album_artist").val(); // 외부 입력된 값
                $(".song-artist").each(function () {
                    $(this).val(syncValue); // 입력 값 설정
                    const targetId = $(this).data("target");
                    $("#" + targetId).text(syncValue); // 상위 값 갱신
            });
    });
});
</script>
<script>
    $(document).on('click', '.datepicker', function() {
        $(this).datepicker({
		    format: "yyyy-mm-dd",	//데이터 포맷 형식(yyyy : 년 mm : 월 dd : 일 )
		    //startDate: '-10d',	//달력에서 선택 할 수 있는 가장 빠른 날짜. 이전으로는 선택 불가능 ( d : 일 m : 달 y : 년 w : 주)
		    //endDate: '+10d',	//달력에서 선택 할 수 있는 가장 느린 날짜. 이후로 선택 불가 ( d : 일 m : 달 y : 년 w : 주)
		    autoclose : true,	//사용자가 날짜를 클릭하면 자동 캘린더가 닫히는 옵션
		    calendarWeeks : false, //캘린더 옆에 몇 주차인지 보여주는 옵션 기본값 false 보여주려면 true
		    clearBtn : false, //날짜 선택한 값 초기화 해주는 버튼 보여주는 옵션 기본값 false 보여주려면 true
		    //datesDisabled : ['2019-06-24','2019-06-26'],//선택 불가능한 일 설정 하는 배열 위에 있는 format 과 형식이 같아야함.
		    disableTouchKeyboard : false,	//모바일에서 플러그인 작동 여부 기본값 false 가 작동 true가 작동 안함.
		    immediateUpdates: false,	//사용자가 보는 화면으로 바로바로 날짜를 변경할지 여부 기본값 :false 
		    multidate : false, //여러 날짜 선택할 수 있게 하는 옵션 기본값 :false 
		    templates : {
		        leftArrow: '&laquo;',
		        rightArrow: '&raquo;'
		    }, //다음달 이전달로 넘어가는 화살표 모양 커스텀 마이징 
		    showWeekDays : true ,// 위에 요일 보여주는 옵션 기본값 : true
		    todayHighlight : true ,	//오늘 날짜에 하이라이팅 기능 기본값 :false 
		    toggleActive : true,	//이미 선택된 날짜 선택하면 기본값 : false인경우 그대로 유지 true인 경우 날짜 삭제
		    weekStart : 0 ,//달력 시작 요일 선택하는 것 기본값은 0인 일요일 
		    language : "ko"	//달력의 언어 선택, 그에 맞는 js로 교체해줘야한다.
		    
		}).datepicker('show');
	});//ready end
</script>
<script>
// 각 모달을 초기화하는 공통 함수
let currentPage = 1;
let searchQuery = '';

function setupModal(modalId, modelEndpoint, options = {}) {
    const modal = $(`#${modalId}`);
    const searchInput = modal.find('input[type="text"]');
    const searchButton = modal.find('button.search');
    const closeButton = modal.find('button.close-btn');
    const list = modal.find('.artist-list');
    const pagination = modal.find('.pagination');

    let targetInput = null; // 클릭한 input 요소를 추적
  
    // 데이터 로드 함수
    function loadData() {
        console.log("Current page in loadData (before request):", currentPage); // 디버깅
        const url = `api/${modelEndpoint}/?page=${currentPage}&search=${searchQuery}`;
        console.log("Request URL:", url); // 요청 URL 디버깅
        $.getJSON(url, function (data) {
        console.log("Response Data:", data); // 서버 응답 디버깅
        list.empty();
        if (data.error) {
            alert(data.error);
            return;
        }
  
        // 리스트 업데이트
        if (options.updateList) {
          options.updateList(data, list);
        } else {
          data.artists.forEach(artist => {
            const image = artist.Artist_image || "Artist_images/user_image_none.png";
            list.append(
              `<li class="list-group-item artist-item" data-id="${artist.Artist_ID}">
                <div><img src="http://localhost:8000/media/${image}" style="width: 30px;" height="30px;"></div>
                <div style="width: 230px; font-size:13px;">${artist.Artist_name}</div>
                <div style="width: 230px; font-size:13px;">${artist.Artist_ID}</div>
                <div style="width: 230px; font-size:13px;">${artist.category}</div>
              </li>`
            );
          });
        }
  
        // 페이지네이션 업데이트
        updatePagination(data.current_page, data.total_pages);
      });
    }

    // 페이지네이션 생성
    function updatePagination(currentPageFromServer, totalPages) {
        console.log("Updating pagination. Server Current Page:", currentPageFromServer, "Total Pages:", totalPages);
        pagination.empty();
        pagination.append(
        `<li class="page-item ${currentPage === 1 ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="${currentPage - 1}">&laquo;</a>
        </li>`
        );
        for (let i = 1; i <= totalPages; i++) {
        pagination.append(
            `<li class="page-item ${i === currentPage ? 'active' : ''}">
            <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>`
        );
        }
        pagination.append(
        `<li class="page-item ${currentPage === totalPages ? 'disabled' : ''}">
            <a class="page-link" href="#" data-page="${currentPage + 1}">&raquo;</a>
        </li>`
        );
  
        pagination.find('a').off('click').on('click', function (e) {
            e.preventDefault();
            const page = $(this).data('page');
            console.log("Clicked page:", page); // 디버깅
            if (page && page !== currentPage) {
                currentPage = page; // 전역 변수 업데이트
                console.log("Updated currentPage:", currentPage); // 디버깅
                loadData(); // 새로운 데이터 로드
            }
            });
    }
  
    // 검색 버튼 클릭 이벤트
    searchButton.on('click', function () {
      searchQuery = searchInput.val();
      currentPage = 1; // 검색 시 첫 페이지로 이동
      loadData();
    });
  
    // 리스트 아이템 클릭 이벤트
    list.on('click', '.artist-item', function () {
      const itemName = $(this).find('div:nth-child(2)').text().trim();
      const itemId = $(this).data('id');
  
      // 선택한 값(targetInput)에 결과 설정
      if (targetInput) {
        targetInput.val(`${itemName}`);
      }
      modal.fadeOut(); // 모달 닫기
    });
  
    // input 클릭으로 모달 열기
    $(document).on('click', `[data-modal="${modalId}"]`, function () {
        targetInput = $(this); // 클릭한 input 요소 저장
        modal.fadeIn(); // 모달 열기
        loadData(); // 데이터 로드
    });

    // 닫기 버튼 클릭 이벤트
    closeButton.on('click', function () {
        modal.fadeOut(); // 모달 닫기
    });
    // 초기 데이터 로드
    loadData();
  }
  
  // 모달 초기화
  setupModal('modal1', 'artists'); // 모달1: artists 데이터
  setupModal('modal2', 'artists');  // 모달2: albums 데이터
  setupModal('modal3', 'rightholder', {
    updateList: (data, list) => {
      // 모달3 전용 리스트 렌더링
      data.rightholders.forEach(rightholder => {
        list.append(
          `<li class="list-group-item artist-item" data-id="${rightholder.user_code}">
          <div style="width: 100px; font-size:13px;">${rightholder.user_name}</div>
          <div style="width: 100px; font-size:13px;">${rightholder.user_code}</div>
          <div style="width: 300px; font-size:13px;">${rightholder.email}</div>
          <div style="width: 100px; font-size:13px;">${rightholder.user_level}</div>
        </li>`
        );
      });
    }
  });
  
</script>


{% endblock %}