{% extends 'maincms_base.html' %}
{% block content %}
{% include "maincms/navbar.html" %}
<div class="container-fluid my-3" style="height:auto; background-color: whitesmoke;">
    <div class="container-lg" style="background-color: whitesmoke;">
        <div class="h3 pb-2 mt-4 border-bottom border-primary">아티스트 리스트</div>
        <table class="table">
            <thead>
                <tr class="p-3 text-primary bs-primary-rgb border border-primary">
                    <th>번호</th>
                    <th>Artist Image</th>
                    <th>Artist ID</th>
                    <th>Artist_name</th>
                    <th>category</th>
                    <th>등록날짜</th>
                </tr>
            </thead>
            <tbody>
                {% if Artist_list %}
                 {% for Artists in Artist_list %}
                <tr class="p-3 text-primary-emphasis border border-primary-subtle">
                    <td>{{ forloop.counter }}</td>
                    <td><img src="http://localhost:8000/media/{{ Artists.Artist_image }}" style="width: 30px;" height="30px;"></td>
                    <td>{{ Artists.Artist_ID }}</td>
                    <td>{{ Artists.Artist_name }} 
                        {% if Artists.Artist_name_en %}
                            ({{ Artists.Artist_name_en }})
                        {% endif %}
                        </td>
                    <td>{{ Artists.category }}</td>
                    <td>{{ Artists.create_date }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr class="p-3 text-primary-emphasis border border-primary-subtle"><td>데이터 없음</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="container-lg" style="background-color: whitesmoke;">
        <a href="{% url 'maincms:create_artist' %}" class="btn btn-primary">등록하기</a>
    </div>
</div>
{% endblock %}

