<nav class="navbar navbar-expand-lg shadow bg-body-tertiary" >
    <div class="container-lg" style="height:65px;">
      <a class="navbar-brand" href="{% url 'maincms:maincms_in' %}">LINEM COMPANY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'maincms:create_album' %}">음원등록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">음원리스트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'maincms:Artists' %}">아티스트 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'maincms:rightholder_view' %}">권리자 관리</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'maincms:test_test' %}">테스트페이지</a>
          </li>
        </ul>
        <span class="navbar-text">
          (Setting) login
        </span>
      </div>
    </div>
  </nav>