{% extends 'maincms_base.html' %}
{% block content %}
{% include "maincms/navbar.html" %}
<div class="container-lg my-3" style="background-color: whitesmoke;">
    <div class="row my-3 align-items-center">
        <div class="input-group mb-1 col">
            <span class="input-group-text" id="num">num1</span>
            <input type="text" class="form-control" id="mun">
        </div>
        <div class="input-group mb-1 col">
            <span class="input-group-text" id="num2">num2</span>
            <input type="text" class="form-control" id="num2">
        </div>
    </div>
</div>
<div class="container-lg my-3" style="background-color: whitesmoke;">
    <form method="post">
        {% csrf_token %}
        <div class="row my-3 align-items-center">
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test1">test1</span>
                <input type="text" class="form-control" id="test1">
            </div>
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test2">test2</span>
                <input type="text" class="form-control" id="test2">
            </div>
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test3">test3</span>
                <input type="text" class="form-control" id="test3">
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test4">test4</span>
                <input type="text" class="form-control" id="test4">
            </div>
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test5">test5</span>
                <input type="text" class="form-control" id="test5">
            </div>
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test6">test6</span>
                <input type="text" class="form-control" id="test6">
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="input-group mb-1 col">
                <span class="input-group-text" id="test7">test7</span>
                <input type="text" class="form-control" id="test7">
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <button class="btn btn-primary" type="submit">전송</button>
        </div>
    </form>
</div>

{% endblock %}